body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: #fff;
    text-align: center;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 90%;
}
.gallery-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
}
.gallery p {
    margin: 10px 0 0;
    font-weight: 600;
}
.info {
    margin-top: 100px;
    margin-bottom: 20px;
}